{% extends 'Base/Header.html' %} {% block content %} {% load static %}
<div class="row">
  {% if not books %}
  <h3 align="center" style="color:#9e9e9e">No books to display</h3>
  {% else %}
  <!-- error displayig area -->
  {% if messages %} {% for message in messages %}
  <div {% if message.tags %} class="{{ message.tags }} alert-danger" {% endif %} id="alert">
    {{ message }}
    <i class="material-icons" style="color:black; float:right; cursor: pointer;" id="closealert">
      close
    </i>
  </div>
  {% endfor %} {% endif %}
  <!-- end error displaying area -->
  {% for book in books %}
  <div class="col s6 m5 l4">
    <div class="card">
      <div class="card-image">
        <a href="{% url 'ReadBook:description' book.id %}" style="color: white;">
          <img src="{{book.book_cover.url}}" style="height:290px;border: 1px solid #9e9e9e; padding: 5px;" />
        </a>
      </div>
      <div
        class="card-content"
        style=" overflow: hidden; 
        border-top: 1px solid rgba(113, 112, 112, 0.3); padding: 0px;"
      >
        <div style="background: #26a69a;padding: 2px 13px;">
          <a href="{% url 'ReadBook:description' book.id %}" style="color: white;">
            <span class="card-title">{{book.book_name|title}}</span>
          </a>
        </div>
      </div>
      <div class="card-action" style="display: flex;align-items: baseline;">
        <div>
          <span style="font-size: 17px;">
            Rating: {{book.book_rating}}
          </span>
          <i class="material-icons" style="vertical-align: text-bottom;">
            star_half
          </i>
          <!-- new indication for new books -->
          <!-- <span style="color:#ec1e24">
            <sup style="vertical-align: text-top;">New</sup>
          </span> -->
        </div>
        <div style="margin-left: auto;">
          <a href="{% url 'ReadBook:description' book.id %}" class="btn waves-effect">
            {{ book.book_price|yesno:'$,Free' }}{% firstof book.book_price %} {{ book.book_discount|yesno:'-,' }} {% firstof book.book_discount %}{{book.book_discount|yesno:'%,' }}
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
