{% extends 'Base/Header.html' %} {% block content %} {% load static %}
<div class="row">
  {% if not ownbooks and not transactions %}
  <h3 align="center" style="color:#9e9e9e">You haven't bought books yet</h3>
  {% else %}
  <!-- error displayig area -->
  {% if messages %} {% for message in messages %}
  <div {% if message.tags %} class="{{ message.tags }} alert-danger" {% endif %} id="alert">
    {{ message }}
    <i class="material-icons" style="color:black; float:right; cursor: pointer;" id="closealert">
      close
    </i>
  </div>
  {% endfor %} {% endif %}
  <!-- end error displaying area -->

  {% if ownbooks %}
  <div class="divider" style="background-color: #b0b0b0;"></div>
  <h4>Published Books:</h4>
  <div class="divider" style="background-color: #b0b0b0;"></div>
  {% endif %}
  <!-- own books -->
  {% for book in ownbooks %}
  <div class="col s6 m5 l4">
    <div class="card">
      <div class="card-image">
        <a href="{% url 'ReadBook:description' book.id %}" style="color: white;">
          <img src="{{book.book_cover.url}}" style="height:290px;border: 1px solid #9e9e9e; padding: 5px;" />
        </a>
      </div>
      <div
        class="card-content"
        style=" overflow: hidden; 
        border-top: 1px solid rgba(113, 112, 112, 0.3); padding: 0px;"
      >
        <div style="background: #26a69a;padding: 2px 13px;">
          <a href="{% url 'ReadBook:description' book.id %}" style="color: white;">
            <span class="card-title">{{book.book_name|title}}</span>
          </a>
        </div>
      </div>
      <div class="card-action" style="display: flex;align-items: baseline;">
        <div>
          <span style="font-size: 17px;">
            Rating: {{book.book_rating}}
          </span>
          <i class="material-icons" style="vertical-align: text-bottom;">
            star_half
          </i>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% if transactions %}
  <div class="divider" style="background-color: #b0b0b0;"></div>
  <h4>Bought Books:</h4>
  <div class="divider" style="background-color: #b0b0b0;"></div>
  {% endif %}
  <!-- bought books -->
  {% for transaction in transactions %}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <a href="{% url 'ReadBook:description' transaction.book.id %}" style="color: white;">
          <img src="{{transaction.book.book_cover.url}}" style="height:290px;border: 1px solid #9e9e9e; padding: 5px;" />
        </a>
      </div>
      <div
        class="card-content"
        style=" overflow: hidden; 
        border-top: 1px solid rgba(113, 112, 112, 0.3); padding: 0px;"
      >
        <div style="background: #26a69a;padding: 2px 13px;">
          <a href="{% url 'ReadBook:description' transaction.book.id %}" style="color: white;">
            <span class="card-title">{{transaction.book.book_name|title}}</span>
          </a>
        </div>
      </div>
      <div class="card-action" style="display: flex;align-items: baseline;">
        <div>
          <span style="font-size: 17px;">
            Rating: {{transaction.book.book_rating}}
          </span>
          <i class="material-icons" style="vertical-align: text-bottom;">
            star_half
          </i>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
